#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;

    text-align: center;
    min-height: 100vh;

    display: flex;

}
/*o margin auto só alinha as laterais, para alinhamento superior e inferior
precisa tem um display flex no elemento anterior*/
#container {
    margin: auto
    
}

/*margin: 50px 10px 600px 100px o mesmo para padding*/
.location, h1, .visit p {
    height: 16vh;
}

.visit a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;

    border: none;
    border-radius: 3rem;

    display: flex;
    justify-items: center;
    justify-content: center;

    margin: auto;

    transition: background .2s;
}

.visit a:hover {
    background: #96feff;
}

#logo {
    animation-delay: 50ms;
}

.location {
    animation-delay: 100ms;
}

main h1 {
    animation-delay: 150ms;
}

.visit p {
    animation-delay: 200ms;
}

.visit a {
    animation-delay: 250ms;
}